
<body style="background: #d9d9d9">
  <center>
  <div class="container">
    <div class="card text-white bg-secondary mb-3" style="width: 22rem;">
      <div class="card-body">
        <h1 class="card-title">Total Revenue</h1>
        <h4 class="card-text my-2">Total quantity: <b><%= @total_quantity_revenue %></b></h4>
        <h4 class="card-text my-2">Total price: <b><span>₹ </span><%= @total_price_revenue %></b></h4>
       </div>
    </div>
  </div>
  </center>
</body>