<div class="about-section">
  <h1>About Us</h1>
  <p>We are ROR developer, we provide software development, web development and we also provide frontend development</p>
  <p>This is simple website of our work for shopping things, In this website you can seclect the product 
   add to the cart and place your order will be your door step under few days your order </p>
</div>

<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h1>Abhishek Shere</h1>
        <p class="title">Team Lead & Senior <br> 
         Software Engineer</p>
        <p></p>
        
        <strong><a
                                  href="mailto: ashere@bestpeers.com"> ashere@bestpeers.com</a></strong>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ajay Jaitwal</h2>
        <p class="title">Mentor & Junior <br> 
         Software Engineer</p>
        <p></p>
        <strong><a
                                  href="mailto: ajaitwal@bestpeers.com"> ajaitwal@bestpeers.com</a></strong>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Shivkaran Singh</h2>
        <p class="title">Admin & Trainee <br>
        Software Engineer</p>
        <p></p>

        <strong><a
                                  href="mailto: shisingh@bestpeers.com"> shisingh@bestpeers.com</a></strong>
      </div>
    </div>
  </div>
</div>
